# Maven output folders
target/
test-output/

# MacOS users (because they forget)
**.DS_Store

# IDE: STS / Eclipse
.apt_generated
.apt_generated_test
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IDE: IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/

# IDE: NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# IDE: VS Code
.vscode/

# Temporary files and folders
tmp/
.tmp/
*.tmp
*.bak
*.swp

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
